
/*CONTEÚDO PRINCIPAL*/

/*Primeiro banner*/
.banner-principal {
    color: var(--branco);
    height: 70vh;

    background-image: url(../imgs/banner-principal-home.png);
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 120px;

}

.texto-banner {
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;

    align-items: flex-start;

    gap: 50px;
}

.texto-banner p {
    font-size: 1.5em;
    width: 60%;
}

.botao {
    padding: 20px 50px;

    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;
}

.botao:hover

/*Faz o efeito de passar o cursor em cima do botão*/
    {
    background-color: #2ab2ab;
    color: var(--branco);
}

/* Muda o tipo de curdor - Cursor: pointer; */

.banner-principal img {
    align-self: flex-end;
    width: 35%;
}

/* TITULO DAS SEÇÕES */

.titulo-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-secao h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.titulo-secao span {
    display: flex;
    width: 250px;
    height: 4px;
    background-color: var(--cor-destaque);
}

/* SEÇÃO BENEFÍCIOS */

.beneficios {
    padding: 50px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.beneficios-lista {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    gap: 10%;
    justify-content: center;
}

.card-beneficio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 20px 50px;
    border: 1px solid var(--azul-escuro);
    border-radius: 30px;

    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
    /*x -. y -. blur -> cor com transparência*/
    text-align: center;

    position: relative;
    /*Cria referencia de posicionamento para o ícone, quando o ícone for posicionado, usa esse card como referencia*/
}

.beneficio-icone img {
    width: 50%;
}

.beneficio-icone {
    border: 4px solid var(--cor-destaque);
    background-color: var(--branco);
    border-radius: 50%;
    width: 30%;
    height: 30%;

    position: absolute;
    /*Retira o ícone do fluxo normal, com o absolute ele pode ficar por cima do card*/

    top: -15%;
    /*Move o circulo para cima, o valor negativo faz ele sair parcialmente do card*/

    left: 50%;
    /*Coloca o elemento em 50% da largura do card*/

    transform: translate(-50%);
    /*Ajustamos o posicionamento dos elementos, mas a borda esquerda do circulo fica na esquerda, não o circulo inteiro.
    Por isso usamos trasform que move o circulo para a esquerda 50% da largura dele*/

    display: grid;
    place-items: center;

    /* align-items: center; e justify-items: center; = place-items: center; */
}

.card-beneficio h3 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 90%;
}

.card-beneficio p {
    font-size: 1em;
    width: 80%;
}

/* SEÇÃO ACESSO */

.banner-meio {
    height: 60vh;
    background-image: url(../imgs/Banner\ centro.svg);
    background-size: cover;

    display: flex;
    justify-content: flex-end;

    padding: 0 120px;
    color: var(--branco);
}

/* SEÇÃO ACERVO */

.acervo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;

    padding: 50px 120px;
}

.livros {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 5%;
}

.livro {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    gap: 20px;
    text-align: center;

}

.livro img {
    height: 300px;
}

.livro h3 {
    text-transform: uppercase;
    font-size: 1em;
    width: 65%;
}

.livro-texto {
    font-size: 0.8em;
}

/* footer - feito pelos alunos */

footer{
    background-color: var(--azul-escuro);
    color: var(--branco);
    padding: 100px 120px 30px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.rodape-logos {
    display: flex;
    flex-direction: column;
    gap: 130px;
}

.rodape-informacoes {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}

.nav-footer  {
    display: flex;
    flex-direction: column;
}

.nav-footer p {
    color: var(--cor-destaque);
    margin-bottom: 20px;

}
.nav-footer a {
    color: var(--branco);
    margin-bottom: 10px;
}

.icones {
    display: flex;
    gap: 20px;
}

footer span {
    display: flex;
    margin: 50px 0;
    background-color: white;
    height: 1px;
    width: 100%;
}

.footer-inferior {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.rodape-informacoes p {
    color: var(--cor-destaque);
    font-size: 1em;
    font-weight: 700;
    width: 100%;
}

.footer-inferior {
    display: flex;
}

/* RODAPE */

/* 
 footer {
    height: 45vh;
    padding: 50px 0px 50px 0px;

    background-color: var(--azul-escuro);
    color: var(--branco);
 }

 footer h4 {
    color: var(--cor-destaque);
 }

 .info-biblioteca h4 {
    margin-bottom: 15px
 }

 .conteudo-biblioteca  {
    display: flex;
    flex-direction: column;
    gap: 10px;
 }

 .info-quem-somos h4 {
    margin-bottom: 15px
}

.conteudo-quem-somos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-redes-sociais{
    width: 470px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo-redes-sociais {
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.rodape-logos {
    width: 150px;
    height: 145px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 .bloco-informacoes {
    width: 400px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
 }

.main-informacoes {
    display: flex;
    justify-content: space-between;
    
    align-items: center;

    padding: 50px 120px;
 }

 .conteudo-principal-links {
    width: 470px;
    height: 160px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;

 }

 span {
    display: flex;
    background-color: var(--branco);

    margin: 0px 120px;
    width: 1675px;
    height: 1px;
    
 }

 .conteudo-rodape-inferior {
    margin-top: 30px;
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
 }

 .rodape-inferior {
   display: flex;
   justify-content: space-between;
    width: 500px;
    margin-right: -10px;
 }
 */

/* RESPONSIVIDADE */
.botao-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;

    /* Esconde o elemnto */
    display: none;

}

.botao-menu i {
    font-size: 2em;
    color: var(--branco);
}

/* RESPONSIVIDADE COM TAMANHOS -> MEDIA QUERY*/

@media (max-width: 1024px) {
    html {
        font-size: 12px;
    }

    .cabecalho img {
        width: 60%;
    }

    .texto-banner h1 {
        text-align: center;
    }

    /* BENEFICIOS */
    .beneficios {
        gap: 50px;

        padding: 30px 0;

        overflow: hidden;
    }

    .beneficios-lista {
        grid-template-columns: repeat(3, 30%);

        overflow-x: scroll; /*Permite que o objeto role para o eixo x, no caso para os lados*/

        padding: 50px 20px;
        justify-content: flex-start;
    }

    .beneficios-lista::-webkit-scrollbar {
        display: none;
    }

    .beneficio {
        padding: 80px 10px 50px;
    }

    .beneficio h3 {
        margin-bottom: 25px;
        width: 60%;
    }

    .beneficio p {
         width: 60%;
    }

    /*BANNER MEIO*/

    .banner-meio{
        background-position: center;
        padding: 0 30px;
    }

    .banner-meio .texto-banner {
        align-items: flex-end;
    }
    
    .banner-meio .texto-banner p {
        text-align: right;
    }

    /* ACERVO */
    .acervo {
        padding: 70px 40px;
        gap: 50px;
    }

    .livros {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

        gap: 40px 20px;
    }

    .livro img {
        max-width: 100%;
    }

    .livro h3 {
        font-size: 1.2em;
    }

    .livro-texto {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .cabecalho {
        padding: 0 40px;

        position: relative;
    }

    .botao-menu {
        /* faz o menu hamburguer aparecer na tela */
        display: flex;
    }

    .navegacao {
        background-color: var(--azul-escuro);

        position: absolute;
        /* distancia de 10vh do topo */
        top: 10vh;
        /* encosta na esquerda */
        left: 0;

        width: 100%;
        height: auto;

        padding: 40PX;

        border-radius: 0 0 0 30PX;

        flex-direction: column;
        align-items: flex-end;

        gap: 20px;

        z-index: 100; /*Diz a camada em que o elemnto está, só funciona com o position*/

        display: none;
    }

    
}