@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --azul-escuro: #26333d;
    --texto: #26333d;
    --branco: #ffffff;
    --cor-destaque: #2fd6cb;
    --fundos: #e9f0ef;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--branco);
    color: var(--texto);
}

html {
    scroll-behavior: smooth;
}


/*CABEÇALHO*/

a {
    color: var(--branco);
    text-decoration: none;
}

.cabecalho {
    background-color: var(--azul-escuro);

    display: flex;
    /*alinha no sentido do flex*/
    justify-content: space-between;

    /*alinha no sentido oposto do flex*/
    align-items: center;

    padding: 0 120px;
    height: 10vh;
    /* 10vh é 10% da visualização do dispositivo*/

}

.navegacao {
    display: flex;
    align-items: center;

    gap: 50px;
}

.navegacao a {
    text-transform: uppercase;
    font-size: 1em;
    /*REM equivile a 16px e 1em pega do pai, sendo responsivo*/
    font-weight: 500;
}

